.login {
    .login-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 7rem;
        height: 3.6rem;
        background: url('../../images/login/loginbox-bg.jpg') no-repeat;
        border-radius: 0.2rem;
    }
}



.login-box-info {
    color: #fff;
    width: 360px;
    height: 360px;
    padding-left: 35px;
    padding-top: 100px;
}